* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  color: bisque;
  backdrop-filter: blur(1.5px);
  flex-direction: column;
  background: rgba(0, 0, 0, 0.767);
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='20' viewBox='0 0 24 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 18c0-1.105.887-2 1.998-2 1.104 0 2-.895 2.002-1.994V14v6h-4v-2zM0 13.998C0 12.895.888 12 2 12c1.105 0 2 .888 2 2 0 1.105.888 2 2 2 1.105 0 2 .888 2 2v2H0v-6.002zm16 4.004A1.994 1.994 0 0 1 14 20c-1.105 0-2-.887-2-1.998v-4.004A1.994 1.994 0 0 0 10 12c-1.105 0-2-.888-2-2 0-1.105-.888-2-2-2-1.105 0-2-.887-2-1.998V1.998A1.994 1.994 0 0 0 2 0a2 2 0 0 0-2 2V0h8v2c0 1.105.888 2 2 2 1.105 0 2 .888 2 2 0 1.105.888 2 2 2 1.105 0 2-.888 2-2 0-1.105.888-2 2-2 1.105 0 2-.888 2-2V0h4v6.002A1.994 1.994 0 0 1 22 8c-1.105 0-2 .888-2 2 0 1.105-.888 2-2 2-1.105 0-2 .887-2 1.998v4.004z' fill='%239C92AC' fill-opacity='0.3' fill-rule='evenodd'/%3E%3C/svg%3E");
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 50px;
  padding: 8px 16px;
  background-color: black;
  font-family: sans-serif;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: rgb(20, 220, 153);
  font-weight: bolder;
  text-shadow: 1px 1px 5px white;
  font-size: 22px;
}
.glassAndFlex {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  background-color: rgba(240, 248, 255, 0.14);
  backdrop-filter: blur(2px);
  border-radius: 8px;
}
.drop-wrap {
  border: 1px solid grey;
  padding: 15px;
  height: 180px;
  margin-top: 30vh;
}
select {
  width: clamp(100px, 30vw, 200px);
  outline: navajowhite;
  text-align: center;
  padding: 3px 0;
}
button {
  padding: 4px 8px;
  border-radius: 6px;
}
button:active {
  background-color: gray;
}
